footer {
    background-color: #DFE6ED;
    padding: 14px 10px 14px 10px;
    display: flex;
}

footer div {
    width: 64px;
    height: 89px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

footer p {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #293845;
    margin-left: 14px;
    margin-top: 27px;
}